<a href="https://colab.research.google.com/github/priyanshurishi/Python-Cheetsheet/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
users = ['val', 'bob', 'mia', 'ron', 'ned']
first_user = users[0]
second_user = users[1]
newest_user = users[-1]
print("The first element is "+first_user)
print("The second element is "+second_user)
print("The last element is "+newest_user)

The first element is val
The second element is bob
The last element is ned

In [ ]:
users[0] = 'valerie'
users[-2] = 'ronald'
print(users)

['valerie', 'bob', 'mia', 'ronald', 'ned']

In [ ]:
users.append('amy')
print(users)

['valerie', 'bob', 'mia', 'ronald', 'ned', 'amy']

In [ ]:
users = []
users.append('val')
users.append('bob')
users.append('mia')
print(users)

['val', 'bob', 'mia']

In [ ]:
users.insert(0, 'joe')
users.insert(3, 'bea')
print(users)

['joe', 'val', 'bob', 'bea', 'mia']

In [ ]:
del users[-1]
print(users)

['joe', 'val', 'bob', 'bea']

In [ ]:
users.remove('val')
print(users)

['joe', 'bob', 'bea']

In [ ]:
most_recent_user = users.pop()
print(most_recent_user)
print(users)

bea
['joe', 'bob']

In [ ]:
first_user = users.pop(0)
print(first_user)
print(users)

joe
['bob']

In [ ]:
users = ['val', 'bob', 'mia', 'ron', 'ned']
num_users = len(users)
print("We have " + str(num_users) + " users.")

We have 5 users.

In [ ]:
users.sort()
print(users)
users.sort(reverse=True)
print(users)
print(sorted(users))
print(sorted(users, reverse=True))
users.reverse()
print(users)

['bob', 'mia', 'ned', 'ron', 'val']
['val', 'ron', 'ned', 'mia', 'bob']
['bob', 'mia', 'ned', 'ron', 'val']
['val', 'ron', 'ned', 'mia', 'bob']
['bob', 'mia', 'ned', 'ron', 'val']

In [ ]:
for user in users:
  print(user)

bob
mia
ned
ron
val

In [ ]:
for user in users:
  print("Welcome, " + user + "!")
  print("Welcome, we're glad to see you all!")

Welcome, bob!
Welcome, we're glad to see you all!
Welcome, mia!
Welcome, we're glad to see you all!
Welcome, ned!
Welcome, we're glad to see you all!
Welcome, ron!
Welcome, we're glad to see you all!
Welcome, val!
Welcome, we're glad to see you all!

In [ ]:
for number in range(1001):
  print(number)

In [ ]:
numbers = list(range(1, 101))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
ages = [93, 99, 66, 17, 85, 1, 35, 82, 2, 77]
youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)
print(youngest)
print(oldest)
print(total_years)

1
99
557

In [ ]:
finishers = ['kai', 'abe', 'ada', 'gus', 'zoe']
first_three = finishers[:3]
middle_three = finishers[1:4]
last_three = finishers[-3:]
print(first_three)
print(middle_three)
print(last_three)

['kai', 'abe', 'ada']
['abe', 'ada', 'gus']
['ada', 'gus', 'zoe']

In [ ]:
finishers = ['kai', 'abe', 'ada', 'gus', 'zoe']
copy_of_finishers = finishers[:]
print(copy_of_finishers)

['kai', 'abe', 'ada', 'gus', 'zoe']

In [ ]:
squares = []
for x in range(1, 11):
  square = x**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
names = ['kai', 'abe', 'ada', 'gus', 'zoe']
upper_names = []
for name in names:
  upper_names.append(name.upper())
print(upper_names)

['KAI', 'ABE', 'ADA', 'GUS', 'ZOE']

In [ ]:
names = ['kai', 'abe', 'ada', 'gus', 'zoe']
upper_names = [name.upper() for name in names]
print(upper_names)

['KAI', 'ABE', 'ADA', 'GUS', 'ZOE']

In [ ]:
dimensions = (800, 600)
print(dimensions)

(800, 600)

In [ ]:
for dimension in dimensions:
  print(dimension)

800
600

In [ ]:
dimensions = (800, 600)
print(dimensions)
dimensions = (1200, 900)
print(dimensions)

(800, 600)
(1200, 900)

In [ ]:
dogs = []
dogs.append('willie')
dogs.append('hootz')
dogs.append('peso')
dogs.append('goblin')
for dog in dogs:
  print("Hello " + dog + "!")
print("I love these dogs!")
print("\nThese were my first two dogs:")
old_dogs = dogs[:2]
for old_dog in old_dogs:
  print(old_dog)
del dogs[0]
dogs.remove('peso')
print(dogs)

Hello willie!
Hello hootz!
Hello peso!
Hello goblin!
I love these dogs!

These were my first two dogs:
willie
hootz
['hootz', 'goblin']